<section>
  <div class="grid m-4">
    <div class="col-4 border-4 border-solid ">
      <div class="text-center">
        <a href="" class="font-bold">Todos los cursos</a>
      </div>
    </div>
    <div class="col-4 border-4 border-solid">
      <div class="text-center">
        <a href="" class="font-bold">Cursos Autoformativos</a>
      </div>
    </div>
    <div class="col-4 border-solid">
      <div class="text-center">
        <a href="" class="font-bold">Solicitar Certificado</a>
      </div>
    </div>
  </div>
</section>
