.curso-detalle{
    color: black;
}
.banner-curso{
    background-color: rgba(229, 108, 185, 0.708);
}
.detalle-curso{
    background-color: rgb(189, 189, 189);
}
.tema-curso{
    background-color: white;
    background: white;
}