<div class="curso-detalle">
  <div class="banner-curso">
    <h1>Hola</h1>
  </div>
  <div class="detalle-curso">
    <div>
      <h1>hello!</h1>
    </div>
  </div>
  <div class="grid col-12 tema-curso">
    <div class="col-8">
      <div class="border border-indigo-600 ...">
        <h1>Hola chikistas</h1>
      </div >
      <br>
      <div class="border border-indigo-600 ..."> plande de estudios</div>
    </div>
    <div class="col-4">
      inscribirse ahora
      <p-button label="Submit" />
    </div>
  </div>
</div>
