<header class="bg-white shadow-md py-4 px-8 flex justify-between items-center">
    <div class="flex items-center space-x-2">
        <img src="icons/dremo.png" alt="Logo" class="h-10">
        <span class="font-bold text-lg text-blue-800">CENTRO DE CAPACITACIÓN</span>
    </div>
    <nav class="hidden md:flex space-x-6">
        <ul class="flex space-x-6">
            <li><a href="#" class="text-pink-600 font-semibold">Inicio</a></li>
            <li><a href="#" class="text-gray-700">Sobre nosotros</a></li>
            <li><a href="#" class="text-gray-700">Cursos</a></li>
            <li><a href="#" class="text-gray-700">Ya me inscribí</a></li>
        </ul>
    </nav>
    <button class="md:hidden block text-gray-700" onclick="toggleMenu()">☰</button>
    <nav id="mobile-menu" class="hidden md:hidden bg-white shadow-md py-4 px-8 w-full absolute top-16 left-0 flex flex-col space-y-4">
        <a href="#" class="text-pink-600 font-semibold">Inicio</a>
        <a href="#" class="text-gray-700">Sobre nosotros</a>
        <a href="#" class="text-gray-700">Cursos</a>
        <a href="#" class="text-gray-700">Ya me inscribí</a>
    </nav>
</header>
<!-- <div class="card">
    <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" style="width:100%" />
        </ng-template>
        <ng-template #thumbnail let-item>
            <img [src]="item.thumbnailImageSrc" />
        </ng-template>
    </p-galleria>
</div> -->
<!-- <div class="card">
    <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [changeItemOnIndicatorHover]="true" [containerStyle]="{ 'max-width': '640px' }">
        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div> -->

