<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Sobre nosotros</h3>
            <p>La Gerencia Regional de Educación tiene como misión promover, coordinar y evaluar el desarrollo sostenible del sistema educativo en la región Moquegua, garantizando una gestión pedagógica, institucional y administrativa eficiente.</p>
        </div>
        <div class="footer-section">
            <h3>Contactanos</h3>
            <!-- <p>Email: info@yourcompany.com</p> -->
            <p>Telefono: (053) 655835</p>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h3>Dirección </h3>
            <div class="map-container">
                <iframe
                    width="100%"
                    height="100%"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1063.3573543794578!2d-70.94600274479886!3d-17.20722619838867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91449c78f2189caf%3A0xb6e84f040d3f9461!2sDREMO%20Moquegua!5e1!3m2!1ses!2spe!4v1740585470500!5m2!1ses!2spe" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="footer-section newsletter">
            <h3>Newsletter</h3>
            <p>Subscribe to our newsletter to stay updated on our latest news and offers.</p>
            <input type="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <p>&copy; <span id="year"></span> dremo © 2025 Centro de capacitaciones.</p>
    </div>
</footer>

<!-- <p>URB. ENRIQUE LOPEZ ALBUJAR MZA. B LT. 01 | ETAPA B-1 - SAN ANTONIO</p> -->