<div class=" card back-color">
    <section class="flex flex-col lg:flex-row items-center justify-between p-12">
        <div class="lg:w-1/2">
            <h1 class="text-4xl font-bold text-blue-900">Nuestros Cursos</h1>
                        
        </div>
        
    </section>
  <p-carousel 
  [value]="products" 
  [numVisible]="3" 
  [numScroll]="1" 
  [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
          <div class="grid  m-2 p-3">
              <div class="mb-3">
                  <div class="relative mx-auto">
                      <img 
                          src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" 
                          [alt]="product.name" 
                          class="w-full border-round" />                              
        
                  </div>
                  <!-- <p-tag 
                          [value]="product.inventoryStatus" 
                          [severity]="getSeverity(product.inventoryStatus)" 
                          class="absolute" 
                          [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" /> -->
              </div>
              <div class="mb-3 font-medium">
                  {{ product.name }}
              </div>
              <div>
                <ul>
                    <li>
                        Clases: 28/02/2025 
                    </li>
                </ul>
              </div>
              <div class="grid h-full">
                  <!-- <div class="mt-0 font-semibold text-xl">
                      {{ '$' + product.price }}
                      
                  </div> -->
                  <p-button label="Ingresar" class="self-end" />
              </div>
          </div>
      </ng-template>
</p-carousel>
</div>

  

