
<!-- <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template #title> Diplomado: Estrategias Innovadoras para la Educación Inicial </ng-template>
        <ng-template #subtitle> Card subtitle </ng-template>
        <p>
            Este diplomado ofrece herramientas y metodologías innovadoras para fortalecer la enseñanza en educación inicial, abordando el desarrollo integral de los niños, la planificación pedagógica y el uso de recursos tecnológicos en el aula.
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div> -->
<div>

</div>
<div class="mb-4 p-8 flex flex-wrap gap-4 justify-center">
    <p-card 
        *ngFor="let curso of cursos" 
        [style]="{ width: '29rem', overflow: 'hidden', height: '33rem'  }" class="cardd">
        
        <ng-template #header>
            <img [src]="curso.imagen" alt="Card" class="w-full" />
        </ng-template>

        <ng-template #title> 
            <p class="text-center text-2xl">{{ curso.titulo }} </p>
        </ng-template>
        <!-- <ng-template #subtitle> {{ curso.subtitulo }} </ng-template> -->
        <div class="grid">
            <div class="col-7">
                <p class="text-sm text-justify text-gray-800 leading-relaxed"> {{ curso.descripcion }} </p>
            </div>
            <div class="col-5">
                <div class="">
                    <i class="pi pi-calendar mr-1"></i>
                    <samp class="text-xs text-gray-800 leading-relaxed">Lunes y Miercoles</samp>
                    <!-- <p class="pLetra">lunes y Miercoles</p> -->
                </div>
                <div>
                    <i class="pi pi-clock mr-1"></i>
                    <samp class="text-xs text-gray-800 leading-relaxed">8:00 am a 12:00 pm</samp>
                </div>
                <div>
                    <i class="pi pi-bell mr-1"></i>
                    <samp class="text-xs text-gray-800 leading-relaxed">Docentes y Estudiantes</samp>
                </div>
                <div>
                    <i class="pi pi-stopwatch mr-1"></i>
                    <samp class="text-xs text-gray-800 leading-relaxed">90 horas</samp>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="text-center align-content-end">
                <p-button label="Inscribirse" class="" [outlined]="true" />
            </div>
            
        </div>
    </p-card>
</div>




  

