.back-color{
    background-color: rgb(237, 241, 245);
    color: black;
}
h1{
    color: rgb(45, 57, 84);
    font-weight: 600;
    text-transform: capitalize;
    font-family: Poppins, sans-serif;
}
h1{
    line-height: 40px;
    font-size: 36px;
}
